@import '../../components/styles/Theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.contact {
	display: flex;
	flex-flow: column nowrap;

	height: 100%;
	width: 100%;

	@include media-min('phone') {
		margin-bottom: 3em;
	}

	div {
		display: grid;
		grid-template-columns: 25% 50% 25%;
		.filler {
			@include media-min('phone') {
				display: none;
			}
		}
		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			text-align: center;

			font: bold 6em 'Cormorant';
			line-height: 2em;

			color: $fg;

			margin: 0;

			@include media-min('phone') {
				font-size: 2em;
				grid-column: span 3;

				border: none;
			}
		}
	}

	.contactSection {
		grid-column: 1 / span 6;

		display: grid;
		grid-template-columns: repeat(3, 1fr);

		height: 100%;

		padding: 0;
		margin: 0;

		@include media-min('phone') {
			display: flex;
			flex-direction: column;
		}

		div {
			transition-property: border, background-color;
			transition-duration: 0.6s;
			transition-timing-function: ease-out;

			height: 100%;

			cursor: pointer;

			background-color: $bg;
			color: $fg;
			text-decoration: none;

			display: flex;
			flex-direction: column;
			justify-content: end;

			&:hover {
				transition-property: border, background-color;
				transition-duration: 0.2s;
				transition-timing-function: ease-out;

				background-color: $fg;
				color: $bg;

				& svg {
					transition: all 0.2s ease-out;

					filter: invert(87%) sepia(30%) saturate(246%) hue-rotate(4deg)
						brightness(96%) contrast(93%);
				}
			}

			svg {
				transition: all 0.6s ease-out;
				margin-left: 1em;
			}

			h3 {
				font: italic bold 2em 'Cormoran';
				text-decoration: underline 2px;
				margin: 0 0 0 1rem;
			}

			p {
				font: 1em 'Cormoran';
				text-decoration: none;
				margin: 0 0 1em 1rem;
			}
		}
	}
}
