@import '../../components/styles/Theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.contact {
  display: flex;
  justify-content: right;
  align-items: center;

  background-color: $bg;

  height: calc(100vh - 4em);

  overflow: hidden;

  .title{
    flex-basis: 35%;
    height: 100%;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    font: 6em 'Sriracha';
    line-height: 2em;

    color: $fg;
  }

  .contactSection {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    font: 2em 'Sriracha';

    flex-basis: 65%;
    height: 100%;

    a {
      //transition: all 0.6s ease-out;
      transition: border 0.6s ease-out;

      background-color: $bg;
      border: 1px $black solid;
      color: $fg;

      display: flex;
      flex-direction: column;
      justify-content: end;

      &:hover {
        //transition: all 0.2s ease-out;
        transition: border 0.2s ease-out;

        border: 4px $bg solid;
        background-color: $fg;
        color: $bg;

        & svg {
          transition: all 0.2s ease-out;

          filter: invert(87%) sepia(30%) saturate(246%) hue-rotate(4deg) brightness(96%) contrast(93%);
        }
      }

      svg {
        transition: all 0.6s ease-out;
        margin-left: 1em;
      }

      p {
        margin-left: 1em;
        margin-bottom: 1em;
      }
    }
  }
}
