@import '../../components/styles/Theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.contact {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: 30% 70%;

	height: sizeIncludingBorderAndHeader('vh');
	width: sizeIncludingBorder('vw');

	.title {
		grid-column: 2 / span 4;

		display: flex;
		text-align: center;
		justify-content: center;
		align-items: center;

		font: 6em 'Cormorant';
		line-height: 2em;

		border: 1 px $black solid;
		color: $fg;
	}

	.contactSection {
		grid-column: 1 / span 6;

		display: grid;
		grid-template-columns: repeat(3, 1fr);

		flex-basis: 65%;
		height: 100%;

		padding: 0;
		margin: 0;

		div {
			transition-property: border, background-color;
			transition-duration: 0.6s;
			transition-timing-function: ease-out;

			cursor: pointer;

			background-color: $bg;
			color: $fg;
			text-decoration: none;

			display: flex;
			flex-direction: column;
			justify-content: end;

			&:hover {
				transition-property: border, background-color;
				transition-duration: 0.2s;
				transition-timing-function: ease-out;

				background-color: $fg;
				color: $bg;

				& svg {
					transition: all 0.2s ease-out;

					filter: invert(87%) sepia(30%) saturate(246%) hue-rotate(4deg)
						brightness(96%) contrast(93%);
				}
			}

			svg {
				transition: all 0.6s ease-out;
				margin-left: 1em;
			}

			h3 {
				font: italic bold 2em 'Cormoran';
				text-decoration: underline 2px;
				margin: 0 0 0 1rem;
			}

			p {
				font: 1em 'Cormoran';
				text-decoration: none;
				margin: 0 0 1em 1rem;
			}
		}
	}
}
