@import 'Theme.scss';

$widthIncludingBorder: calc(100vw - 4em);

header {
	display: flex;
	justify-content: space-around;
	align-items: center;

	width: $widthIncludingBorder;
	height: 4em;

	.date {
		font: italic bold 1em 'Cormorant';
		width: 15%;
		height: 100%;
		flex-shrink: 0;

		display: flex;
		justify-content: center;
		align-items: center;

		margin: 0;
	}
	.navLink {
		font: bold 2em 'Cormorant';
		width: 30%;
		height: 100%;

		display: flex;
		justify-content: center;
		align-items: center;

		transition: all 200ms ease-in;

		text-decoration: none;
		color: $fg;

		&:hover {
			transition: all 200ms ease-out;
			color: $orange;
		}
	}
}
