@import 'Theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.sidebar {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: end;

	text-align: left;

	width: 15%;
	height: 100%;
	flex-shrink: 0;

	.float {
		position: absolute;
		left: -2em;
		top: 0em;
		transform: rotate(-10deg);
		margin: 0;
		width: 25vw;
		z-index: 1;
	}

	:first-child {
		margin-top: 1em;
		font: bold italic 1.2em Cormoran;
	}

	:nth-child(2) {
		margin-top: 1em;
	}

	* {
		margin: 0em 1em;
	}

	:last-child {
		margin-bottom: 4em;
	}
}
