@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.sidebar {
	font-family: 'Courgette';
	font-size: 64px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2em;

	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;

	width: auto;
	height: 100vh;

	a {
		transition: all ease-out 0.2s;

		text-decoration: none;
		color: #ebdbb2;

		display: flex;
		flex-direction: column;

		&:hover {
			transition: all ease-out 0.2s;

			text-decoration: underline;
			color: #8ec07c;

      transform: scale(1.02);
      transform-origin: bottom ;
		}
	}
}
