@use 'sass:string';
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@function sizeIncludingBorder($unit) {
	$unit: '100' + $unit;
	@return calc(string.unquote($unit) - 4em);
}

@function sizeIncludingBorderAndHeader($unit) {
	$unit: '100' + $unit;
	@return calc(string.unquote($unit) - 8em);
}

$fg: #3c3836;
$bg: #f9f5d7;
$white: #fbf1c7;
$gray: #928374;
$black: #1d2021;

$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$purple: #b16286;
$aqua: #689d6a;
$orange: #d65d0e;

$lightRed: #fb4934;
$lightGreen: #b8bb26;
$lightYellow: #fabd2f;
$lightBlue: #83a598;
$lightPurple: #d3869b;
$lightAqua: #8ec07c;
$lightOrange: #fe8019;

$darkRed: #9d0006;
$darkGreen: #79740e;
$darkYellow: #b57614;
$darkBlue: #076678;
$darkPurple: #8f3f71;
$darkAqua: #427b58;
$darkOrange: #af3a03;
